---
import "../styles/output.css";

const hoverColor = "#ddd";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/public/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | Loopstudios landing page</title>
  </head>
  <body class="flex flex-col min-h-screen overflow-x-hidden">
    <slot />
  </body>
</html>

<style is:global define:vars={{ hoverColor }}>
  a {
    position: relative;
  }

  a::after {
    content: "";
    position: absolute;
    top: 130%;
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--hoverColor);
    transition: width 0.3s;
  }

  li:hover a::after {
    width: 100%;
    transition: width 0.3s;
  }

  li:hover a {
    color: var(--hoverColor);
  }

  a:has(svg):hover path {
    fill: var(--hoverColor);
  }
</style>
